#InputField {
    margin-top: .2%;
    
}
#List {
    float: left;
    padding-left: 4%;
    text-align: left;
}
.delete{
    border: none;
    color: red;
}
.videoId{
    width: 100%;
}
#Input {
    border: 1px solid white;
    border-bottom-color: black;
    
}
.Button {
    margin-left: .5%;
    background-color: cyan;
    border-radius:10px ;
}
button:focus{
    outline:none;
}
input:focus{
    outline: none;
}